.DS_Store
Frameworks/Appkit
Frameworks/Objective-J
Frameworks/Foundation
Frameworks/Debug
Build
.push-package
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3
xcuserdata/
!*.xcodeproj/project.pbxproj
*.xCodeSupport/
*.XcodeSupport/
*.sublime-project
*.sublime-workspace
